" -------------------------------------------
" Plugin Management
" -------------------------------------------
" The following is to automatically setup 'vim-plug' if it is not installed
" on this system.
" Install vim-plug if said plugin is not installed locally, 
" has to be before plug(ins) section.
if empty(glob('~/.vim/autoload/plug.vim'))
  silent !curl -fLo ~/.vim/autoload/plug.vim --create-dirs
    \ https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
endif

" Run PlugInstall if there are missing plugins
autocmd VimEnter * if len(filter(values(g:plugs), '!isdirectory(v:val.dir)'))
  \| PlugInstall --sync | source $MYVIMRC
\| endif

" Use a plugin manager like Vim-Plug for easier plugin management
call plug#begin('~/.vim/bundle')
Plug 'catppuccin/vim', { 'as': 'catppuccin' }  " my favorite color scheme
Plug 'dense-analysis/ale'                      " Formatting and linting
Plug 'jiangmiao/auto-pairs'                    " Auto-pairs for brackets, quotes, etc.
Plug 'junegunn/goyo.vim'                       " for resizing windows 
Plug 'preservim/nerdtree'                      " File navigation
Plug 'vim-airline/vim-airline-themes'
Plug 'vim-airline/vim-airline'
call plug#end()

" display options
"set t_Co=256 " tell the term has 256 colors
set hidden "hide buffers when not displayed

" color scheme
let g:catppuccin_flavour = "macchiato"            " Optional, usually defaults to macchiato
let g:catppuccin_terminal_colors = v:true         " Use theme colors for :terminal
let g:catppuccin_transparent_background = v:true  " For transparent terminal backgrounds
colorscheme catppuccin_macchiato

" Quick pane navigation
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l


" -------------------------------------------
" Session Management
" -------------------------------------------
" The <Leader> key is by default: '\'
" Save and restore sessions
nnoremap <Leader>ss :mksession! ${HOME}/.vim-session.vim<CR>
nnoremap <Leader>sr :source ${HOME}/.vim-session.vim<CR>


" -------------------------------------------
" Custom Key Mappings
" -------------------------------------------
" Create new tabs with F5 key
nnoremap <F5> <Esc>:tabe
" move to the next tab on the right
nnoremap <F6> gt
" move to the tab on the left
nnoremap <F7> gT
" Open file under cursor in a new tab
nnoremap <F8> <Esc><C-W>gF<CR>:tabm<CR>

" Toggle line-wrap. My default is to 'set nowrap'
map <F12> <Esc>:set wrap!<CR>


" -------------------------------------------
" Code Formatting and Linting
" -------------------------------------------
" Integrate ALE for linting and fixing
highlight ALEWarning ctermbg=DarkMagenta
let g:ale_echo_msg_error_str = 'E'
let g:ale_echo_msg_warning_str = 'W'
let g:ale_echo_msg_format = '[%linter%] %s [%severity%]'
let g:ale_fix_on_save = 1
let g:ale_linters = {
\  'ansible': ['ansible-lint'],
\  'Dockerfile': ['dockerfile_lint'],
\  'JSON': ['jsonlint', 'jq', 'prettier'],
\  'Python': ['autopep8', 'flake8', 'pylint'],
\  'Terraform': ['terraform-fmt-fixer', 'tflint'],
\  'YAML': ['yamllint', 'yq']
\}
let g:ale_sign_error = '>>'
let g:ale_sign_warning = '--'

" Set this. Airline will handle the rest.
let g:airline#extensions#ale#enabled = 1


" -------------------------------------------
" Search and Navigation
" -------------------------------------------
set gdefault           " Apply global flag by default for substitutions
set hidden             " Enable background buffers
set hlsearch           " Highlight search results
set ignorecase         " Ignore case in search patterns
set incsearch          " Show search matches as you type
set showmatch          " Highlight matching brackets
set smartcase          " Override ignorecase if search pattern contains uppercase

" -------------------------------------------
" Appearance and Visual Settings
" -------------------------------------------
set background=dark    " Use dark background for better contrast
set cursorcolumn       " Highlight current column
set cursorline         " Highlight current line
set encoding=utf-8     " Set file encoding
set termguicolors      " Enable true colors support
syntax enable          " Enable syntax highlighting


" Display settings
set colorcolumn=80     " Highlight the 80th column
set formatoptions=qrn1 " Text formatting options
set laststatus=2       " Always show the last status line
set linebreak          " Wrap lines at convenient points
set ls=2               " Always show status line
set modeline           " Enable modelines
set norelativenumber   " Disable relative line numbers
set nowrap             " Disable line wrapping, use F6 to activate
set number             " Show line numbers
set ruler              " Show cursor position
set scrolloff=3        " Keep 3 lines above/below the cursor when scrolling
set showbreak=▹        " Character to show at wrapped lines
set showcmd            " Display incomplete commands
set showmode           " Display current mode
set textwidth=80       " Set text width to 80 characters
set title              " Show the file title in window title bar
set ttyfast            " Optimize for fast terminal
set visualbell         " Use visual bell instead of beeping


" -------------------------------------------
" Indentation Settings
" -------------------------------------------
set autoindent         " Auto-indent new lines
set expandtab          " Use spaces instead of tabs
set shiftround         " Round indent to multiple of shiftwidth
set shiftwidth=2       " Set indentation width
set softtabstop=2      " Set soft tab width
set tabstop=2          " Set tab width


" -------------------------------------------
" Miscellaneous Settings
" -------------------------------------------
set backspace=indent,eol,start " Make backspace more powerful
set backupskip=/tmp/*,/var/tmp/*,/private/tmp/*  " Skip backups for these paths
set clipboard=unnamedplus  " Use system clipboard
set dictionary=/usr/share/dict/words " Set path for spell checking
set history=50         " Keep 50 lines of command line history
set lazyredraw         " Faster scrolling and redrawing
set matchtime=3        " Delay before showing matching parens
set nocompatible       " Use Vim defaults instead of Vi compatibility
set noesckeys          " Disable Escape key mappings in terminal mode
set nofoldenable       " Disable folding by default
set shell=/bin/bash    " Set default shell
set wildmenu           " Enable enhanced command line completion
set wildmode=list:longest " Show completion options


" -------------------------------------------
" File Navigation and Exploration
" -------------------------------------------
" NERDTree configuration
nnoremap <leader>n :NERDTreeFocus<CR>
nnoremap <C-n> :NERDTree<CR>
nnoremap <C-t> :NERDTreeToggle<CR>

let NERDTreeFileLines=1
let NERDTreeIgnore=['\.git$', '\~$']
let NERDTreeNaturalSort=1
let NERDTreeShowHidden=1
let NERDTreeShowLineNumbers=1
let NERDTreeSortHiddenFirst=1

" source: https://superuser.com/questions/286985/reload-vimrc-in-vim-without-restart
" This next line is meant to automatically source the changes
" from my vimrc file when I save it. Super handy!
autocmd bufwritepost ${HOME}/.vimrc source $MYVIMRC
