# troubleshooting begining
#zmodload zsh/zprof

# history
HISTFILE=~/.zsh_history
HISTSIZE=25000
SAVEHIST=25000

# options
setopt EXTENDED_HISTORY HIST_FIND_NO_DUPS HIST_IGNORE_SPACE INC_APPEND_HISTORY_TIME
setopt AUTO_CD AUTO_PUSHD PUSHD_MINUS
setopt AUTO_MENU ALWAYS_TO_END
cdpath=("$HOME/SourceCode")

# vi mode
bindkey -v

# completion
zstyle :compinstall filename "$HOME/.zshrc"
autoload -Uz compinit
compinit

# starship
eval "$(starship init zsh)"

# aliases
[[ -x $(whence batcat) ]] && alias bat='batcat'
alias cat='bat --paging=never'
alias icat="kitty +kitten icat"
alias s='kitty +kitten ssh'
alias hg="kitty +kitten hyperlinked_grep"
# alias Chrome='google-chrome --proxy-server="socks5://localhost:3333" --host-resolver-rules="MAP * 0.0.0.0 , EXCLUDE localhost" %U'
alias Backup='mkdir -p .backups/$(date +%Y%m%dT%H%M) 2>/dev/null; cp -R * .backups/$(date +%Y%m%dT%H%M)/'
alias dsize='du -sk * | sort -n --'
alias DT='date "+%F %T"'
alias du="dust"
#alias edit='/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl $@'
#alias EMD='eval $(minikube docker-env)'
alias filetree="ls -R | grep ":$" | sed -e 's/:$//' -e 's/[^-][^\/]*\//--/g' -e 's/^/ /' -e 's/-/|/'"
alias fluxlogs='flux logs --all-namespaces --follow --tail=10'
alias GBT='printf "\n\n"; kubectl -n kubernetes-dashboard create token admin-user'
alias grep='grep --color=auto'
alias h='history'
alias j='jobs -l'
alias less='less --quiet --tabs=4 $@'
alias libpath='echo -e ${LD_LIBRARY_PATH//:/\\n}'
alias ll="ls -lv"
alias lt='ls -latr'
alias myflux='flux reconcile ks flux-system --with-source'
#alias Netstat='watch -n 15 -d "lsof -n -i | grep -e LISTEN -e ESTABLISHED"'
#alias Nmap='sudo nmap -p0-65535 -T5 $@'
alias numfmt=gnumfmt
alias path='echo -e ${PATH//:/\\n}'
alias ping='prettyping --nolegend'
#alias proxyNO="for FILE in \$( ls -1 ${HOME}/.mozilla/firefox/*.default-release/prefs.js ); do sed -i -E 's/^user_pref\(\"network\.proxy\.type\"\,.*$/user_pref(\"network.proxy.type\", 0);/' \${FILE} ; done ;"
#alias proxyYES="for FILE in \$( ls -1 ${HOME}/.mozilla/firefox/*.default-release/prefs.js ); do sed -i -E 's/^user_pref\(\"network\.proxy\.type\"\,.*$/user_pref(\"network.proxy.type\", 1);/' \${FILE} ; done ;"
alias PODS='watch -n 6 "kubectl get pods --all-namespaces --field-selector metadata.namespace!=kube-system -o wide"'
alias TOP1='watch -n 6 "kubectl top pods --use-protocol-buffers --sort-by=cpu --all-namespaces=true --field-selector metadata.namespace!=kube-system" '
alias TOP2='watch -n 6 "kubectl top pods --use-protocol-buffers --sort-by=memory --all-namespaces=true --field-selector metadata.namespace!=kube-system" '
alias vi='nvim'
alias vim='nvim'
alias which='type -a'
#
alias gc='git commit $@'
alias gco='git checkout $@'
alias gp='git push'
alias gs='git status'
alias ga='git add $@'
#
alias gl1='git log --oneline'
alias gl1h='git log --oneline | head'
alias gld="git log --oneline --graph --decorate --abbrev-commit --all"
alias glp="git -c core.pager='less -SRF' log --oneline --graph --decorate"
#

#
# list git tags
gt() {
    git tag -l "*${1}*" | sort --version-sort
}
gtp() {
    git tag -l "${1}*${2:-prod}*" | sort --version-sort
}
#
alias t1='tree -L 1'
alias t2='tree -L 2'
alias t3='tree -L 3'
#
alias syn='ansible-playbook --syntax-check $@'
alias ap='ansible-playbook'

# alias MVN='mvn clean install -DskipTests -T 12 -e -X'

## Password Generator:
genpasswd() {
   local l=$1
      [[ "$l" == "" ]] && l=26
      export LC_ALL=C;
      tr -dc A-Za-z0-9_ < /dev/urandom | head -c ${l} | xargs
}


{{- if contains "maxar" .chezmoi.fqdnHostname }}

function s2a() {
  export AWS_PROFILE=$1
  export DEPLOY_ENV=${1##*-}
  saml2aws -a $1 login ${@:2}
}
{{- end }}

# fuzzy search
if [ -f /usr/share/fzf/completion.zsh ]; then
  source /usr/share/fzf/completion.zsh
elif [ -f /usr/local/opt/fzf/shell/completion.zsh ]; then
  source /usr/local/opt/fzf/shell/completion.zsh
fi

if [ -f /usr/share/fzf/key-bindings.zsh ]; then
  source /usr/share/fzf/key-bindings.zsh
elif [ -f /usr/share/doc/fzf/examples/key-bindings.zsh ]; then
  source /usr/share/doc/fzf/examples/key-bindings.zsh
elif [ -f /usr/local/opt/fzf/shell/key-bindings.zsh ]; then
  source /usr/local/opt/fzf/shell/key-bindings.zsh
fi

# fish like
if [ -f /usr/local/share/zsh-autosuggestions/zsh-autosuggestions.zsh ]; then
  source /usr/local/share/zsh-autosuggestions/zsh-autosuggestions.zsh
elif [ -f /usr/local/zsh-autosuggestions/zsh-autosuggestions.zsh ]; then
  source /usr/local/zsh-autosuggestions/zsh-autosuggestions.zsh
fi
if [ -f /usr/local/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh ]; then
  source /usr/local/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
elif [ -f /usr/local/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh ]; then
  source /usr/local/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
fi

# gnupg
export GPG_TTY=$(tty)
[[ -x $(whence gpg-agent) ]] && eval "$( gpg-agent --quiet --daemon 2>/dev/null )"

# For SOPS
export SOPS_GPG_EXEC="gpg"
export SOPS_PGP_FP="55DC1CA95F792EACE2491532EC363AC46ABDC9E7"
export SOPS_GPG_KEYSERVER="hkps://keyserver.ubuntu.com"

# software versions
[[ -x $(whence jenv) ]] && eval "$( jenv init - )"
[[ -x $(whence pyenv) ]] && eval "$( pyenv init - )"
[[ -x $(whence luarocks) ]] && eval "$( luarocks path --no-bin )"

# k8s
[[ -x $(whence kubectl) ]] && source <( kubectl completion zsh )
[[ -x $(whence helm) ]] && source <( helm completion zsh )
[[ -x $(whence flux) ]] && source <( flux completion zsh ) && compdef _flux flux
[[ -x $(whence saml2aws) ]] && eval "$( saml2aws --completion-script-zsh )"

{{- if contains "fortress" .chezmoi.fqdnHostname }}

# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
__conda_setup="$('${HOME}/anaconda3/bin/conda' 'shell.zsh' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "${HOME}/anaconda3/etc/profile.d/conda.sh" ]; then
        . "${HOME}/anaconda3/etc/profile.d/conda.sh"
    else
        export PATH="${HOME}/anaconda3/bin:$PATH"
    fi
fi
unset __conda_setup
# <<< conda initialize <<<
{{- end }}

# troubleshooting ending
#zprof
