#!/bin/bash
set -euo pipefail
IFS=$'\n\t'

{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "archarm") -}}
if ! command -v paru &> /dev/null
then
  sudo pacman -S --needed base-devel rustup
  rustup toolchain install stable
  BUILDDIR=$(mktemp -d)
  git clone https://aur.archlinux.org/paru.git $BUILDDIR
  pushd $BUILDDIR
  makepkg -si
  popd $BUILDDIR
  rm -rf $BUILDDIR
fi

paru -S --needed \
  arc-gtk-theme \
  arc-icon-theme \
  archlinux-wallpaper \
  aws-cli-v2 \
  base-devel \
  bat \
  bottom \
  dust \
  elementary-icon-theme \
  fd \
  flux-bin \
  fzf \
  git \
  git-delta \
  github-cli \
  gnupg \
  helm \
  jq \
  kitty \
  kubectl \
  lazygit \
  lsd \
  luarocks \
  neovim \
  ttf-firacode-nerd \
  pyenv \
  ranger \
  restic \
  ripgrep \
  rustup \
  starship \
  yq \
  zsh \
  zsh-autosuggestions \
  zsh-completions \
  zsh-syntax-highlighting

paru -S --asdeps --needed \
  python-neovim \
  wl-clipboard \
  xsel

# Install lazyvim
# docs: https://www.lazyvim.org/installation
# required cleanup before install
mv ${HOME}/.config/nvim ${HOME}/.config/nvim.bak

# optional but recommended for lazyvim
mv ${HOME}/.local/share/nvim ${HOME}/.local/share/nvim.bak
mv ${HOME}/.local/state/nvim ${HOME}/.local/state/nvim.bak
mv ${HOME}/.cache/nvim ${HOME}/.cache/nvim.bak

# finally install lazyvim
git clone https://github.com/LazyVim/starter ${HOME}/.config/nvim


{{ else if eq .chezmoi.os "darwin" -}}
brew install \
  awscli \
  bat \
  bottom \
  dust \
  fd \
  fluxcd/tap/flux \
  fzf \
  gh \
  git \
  git-delta \
  gnupg \
  helm \
  jq \
  kitty \
  kubectl \
  lsd \
  luarocks \
  neovim \
  pyenv \
  ranger \
  restic \
  ripgrep \
  rustup \
  starship \
  yq \
  zsh \
  zsh-autosuggestions \
  zsh-completions \
  zsh-syntax-highlighting

brew tap jesseduffield/lazygit
brew install lazygitbrew tap
brew install lazygit

pip3 install --user pynvim

# Install lazyvim
# docs: https://www.lazyvim.org/installation
# required cleanup before install
mv ${HOME}/.config/nvim ${HOME}/.config/nvim.bak

# optional but recommended for lazyvim
mv ${HOME}/.local/share/nvim ${HOME}/.local/share/nvim.bak
mv ${HOME}/.local/state/nvim ${HOME}/.local/state/nvim.bak
mv ${HOME}/.cache/nvim ${HOME}/.cache/nvim.bak

# finally install lazyvim
git clone https://github.com/LazyVim/starter ${HOME}/.config/nvim


{{ end -}}
