#!/bin/bash
set -euo pipefail
IFS=$'\n\t'

{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "archarm") -}}
if ! command -v paru &> /dev/null
then
  sudo pacman -S --needed base-devel rust
  rustup toolchain install stable
  BUILDDIR=$(mktemp -d)
  git clone https://aur.archlinux.org/paru.git $BUILDDIR
  pushd $BUILDDIR
  makepkg -si
  popd $BUILDDIR
  rm -rf $BUILDDIR
fi

paru -S --needed \
  base-devel \
  dust \
  fd \
  fzf \
  git \
  git-delta \
  github-cli \
  gnupg \
  helm \
  jq \
  kubeadm-bin \
  kubectl-bin \
  kubelet-bin \
  lsd \
  vim \
  pyenv \
  ripgrep \
  rust \
  starship \
  ttf-firacode-nerd \
  yq \
  zsh \
  zsh-autosuggestions \
  zsh-completions \
  zsh-syntax-highlighting

paru -S --asdeps --needed \
  python-neovim \
  wl-clipboard \
  xsel

{{ else if eq .chezmoi.os "darwin" -}}
brew install \
  awscli \
  btop \
  dust \
  easy-rsa \
  fd \
  fluxcd/tap/flux \
  fping \
  fzf \
  git \
  git-delta \
  gnupg \
  gping \
  helm \
  htop \
  jq \
  jsonlint \
  k9s \
  lazygit \
  lsd \
  lsof \
  mtr \
  vim \
  p7zip \
  pinentry-mac \
  prettyping \
  pstree \
  pyenv \
  ripgrep \
  sops \
  starship \
  watch \
  wget \
  yamllint \
  yq \
  zsh \
  zsh-autosuggestions \
  zsh-completions \
  zsh-syntax-highlighting

{{ end -}}
