#!/bin/bash
set -euo pipefail
IFS=$'\n\t'

{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "archarm") -}}
if ! command -v paru &> /dev/null
then
  sudo pacman -S --needed base-devel rust
  rustup toolchain install stable
  BUILDDIR=$(mktemp -d)
  git clone https://aur.archlinux.org/paru.git $BUILDDIR
  pushd $BUILDDIR
  makepkg -si
  popd $BUILDDIR
  rm -rf $BUILDDIR
fi

paru -S --needed \
  base-devel \
  bat \
  bottom \
  cni-plugins-bin \
  dust \
  fd \
  fzf \
  git \
  git-delta \
  github-cli \
  gnupg \
  helm \
  jq \
  kitty \
  kubeadm-bin \
  kubectl-bin \
  kubelet-bin \
  lazygit \
  lsd \
  luarocks \
  neovim \
  pyenv \
  ranger \
  restic \
  ripgrep \
  rust \
  starship \
  ttf-firacode-nerd \
  yq \
  zsh \
  zsh-autosuggestions \
  zsh-completions \
  zsh-syntax-highlighting

paru -S --asdeps --needed \
  python-neovim \
  wl-clipboard \
  xsel

# Install lazyvim
# docs: https://www.lazyvim.org/installation
# required cleanup before install
[[ -d ${HOME}/.config/nvim ]] && mv ${HOME}/.config/nvim ${HOME}/.config/nvim.bak.$$

# optional but recommended for lazyvim
[[ -d ${HOME}/.local/share/nvim ]] && mv ${HOME}/.local/share/nvim ${HOME}/.local/share/nvim.bak.$$
[[ -d ${HOME}/.local/state/nvim ]] && mv ${HOME}/.local/state/nvim ${HOME}/.local/state/nvim.bak.$$
[[ -d ${HOME}/.cache/nvim ]] && mv ${HOME}/.cache/nvim ${HOME}/.cache/nvim.bak.$$

# finally install lazyvim
git clone https://github.com/LazyVim/starter ${HOME}/.config/nvim


{{ else if eq .chezmoi.os "darwin" -}}
brew install \
  argocd \
  awscli \
  bat \
  bottom \
  bpytop \
  clair \
  dust \
  easy-rsa \
  fd \
  fluxcd/tap/flux \
  fping \
  fzf \
  gh \
  git \
  git-delta \
  gnupg \
  gping \
  helm \
  hping \
  htop \
  jq \
  jsonlint \
  k9s \
  kitty \
  lazygit \
  lolcat \
  lsd \
  lsof \
  luarocks \
  mtr \
  neovim \
  p7zip \
  pinentry-mac \
  prettyping \
  pstree \
  pyenv \
  ranger \
  restic \
  ripgrep \
  rust \
  sops \
  starship \
  trivy \
  watch \
  wget \
  yamllint \
  yq \
  zsh \
  zsh-autosuggestions \
  zsh-completions \
  zsh-syntax-highlighting

  #   kubectl \

brew tap jesseduffield/lazygit
brew install lazygitbrew tap
brew install lazygit

pip3 install --user pynvim

# Install lazyvim
# docs: https://www.lazyvim.org/installation
# required cleanup before install
mv ${HOME}/.config/nvim ${HOME}/.config/nvim.bak.$$

# optional but recommended for lazyvim
mv ${HOME}/.local/share/nvim ${HOME}/.local/share/nvim.bak.$$
mv ${HOME}/.local/state/nvim ${HOME}/.local/state/nvim.bak.$$
mv ${HOME}/.cache/nvim ${HOME}/.cache/nvim.bak.$$

# finally install lazyvim
git clone https://github.com/LazyVim/starter ${HOME}/.config/nvim


{{ end -}}
