#!/bin/bash
set -euo pipefail
IFS=$'\n\t'

{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch") -}}
# desktop.interface hash {{ output "gsettings" "list-recursively" "org.gnome.desktop.interface" | sha256sum }}
# shell.theme hash {{ output "gsettings" "list-recursively" "org.gnome.shell.extensions.user-theme" | sha256sum }}
gsettings set org.gnome.desktop.interface color-scheme 'prefer-dark'
gsettings set org.gnome.desktop.interface cursor-theme 'elementary'
gsettings set org.gnome.desktop.interface document-font-name 'Cantarell 12'
gsettings set org.gnome.desktop.interface font-name 'Cantarell 12'
gsettings set org.gnome.desktop.interface gtk-key-theme 'Default'
gsettings set org.gnome.desktop.interface gtk-theme 'Arc-Dark'
gsettings set org.gnome.desktop.interface icon-theme 'Arc'
gsettings set org.gnome.desktop.interface monospace-font-name 'FiraCode Nerd Font Mono 11'
gsettings set org.gnome.shell.extensions.user-theme name 'Arc-Dark'
{{ end -}}
