ControlMaster auto
ControlPersist yes
ControlPath ${HOME}/.ssh/sockets/%C

CanonicalizeHostname yes

# PERSONAL STUFF:
Host github.com
    HostName github.com
    IdentityFile ${HOME}/.ssh/GIT_KEYS/id_ed25519
    User git

Match host "172.20.156.195"
    User root
    ForwardAgent yes
    IdentityFile ${HOME}/.ssh/RKE-LABS/id_ed25519
    PreferredAuthentications password
    ServerAliveInterval 30
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null

Host rhel-iso-builder.fortress.lan
    HostName 172.20.156.208
    User goldenleg
    ForwardAgent yes
    IdentityFile ${HOME}/.ssh/RKE-LABS/id_ed25519
    PreferredAuthentications password
    ServerAliveInterval 30
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null

Match host "*fortres*,172.20.156.*"
    User goldenleg
    ForwardAgent yes
    IdentityFile ${HOME}/.ssh/RKE-LABS/id_ed25519
    LogLevel QUIET
    # PreferredAuthentications publickey
    ServerAliveInterval 30
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null

Match host "172.31.254.1"
    User root
    ServerAliveInterval 30
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null

Match host "172.31.254.*"
    User oBF6k2HnwNy
    IdentityFile ${HOME}/.ssh/id_rsa
    ServerAliveInterval 30
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
