"$schema" = 'https://starship.rs/config-schema.json'

scan_timeout = 10
add_newline = true

format = """\
$all\
$git_metrics\
$cmd_duration\
$fill\
$time\
$line_break\
$jobs\
$battery\
$status\
$os\
$container\
$shell\
$character\
"""

[character]
success_symbol = '[➜](bold green)'
error_symbol = '[✗](bold red)'
vimcmd_symbol = '[V](bold green)'

[fill]
symbol = " "

[time]
disabled = false
style = "bold #cad3f5"
format = "[$time]($style)"

[username]
style_user = "bold #8aadf4"
style_root = "bold #ed8796"
format = "[$user]($style) "
disabled = false
show_always = true

[hostname]
ssh_only = false
format = 'on [$hostname](bold #f5a97f) '
trim_at = "."
disabled = false

[cmd_duration]
min_time = 5
show_milliseconds = false
style = "bold italic #a6da95"
disabled = false

[directory]
style = "fg:#cad3f5 bg:#8aadf4"
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"
read_only = " "
truncate_to_repo = true

[directory.substitutions]
"Documents" = "󰈙"
"Downloads" = ""
"Music" = ""
"Pictures" = ""

[jobs]
symbol = '✦ '
number_threshold = 1
symbol_threshold = 0

[aws]
symbol = " "

[docker_context]
symbol = ""
format = "via [$symbol$context]($style) "
style = "bold #8aadf4"
only_with_files = true
detect_files = ["docker-compose.yml", "docker-compose.yaml", "Dockerfile"]

[git_branch]
symbol = '🌿 '
truncation_length = 4
truncation_symbol = ''
ignore_branches = ['master', 'main']
style = "bold #8aadf4"

[git_commit]
commit_hash_length = 4
tag_symbol = '🏷️ '

[git_state]
format = '[\($state( $progress_current of $progress_total)\)]($style) '
cherry_pick = '[🍒 PICKING](bold #ed8796)'

[git_status]
ahead = '⇡${count}'
behind = '⇣${count}'
conflicted = '🏳️'
deleted = '🗑️'
diverged = '⇕⇡${ahead_count}⇣${behind_count}'
modified = '📝'
renamed = '🔀'
staged = '[++\($count\)](#a6da95)'
stashed = '📦'
up_to_date = '✓'
untracked = '🤷'

[git_metrics]
added_style = 'bold #a6da95'
deleted_style = 'bold #ed8796'
format = '[+$added]($added_style)/[-$deleted]($deleted_style) '
disabled = false

[golang]
symbol = ""
style = "bg:#494d64"
format = '[[ $symbol ($version) ](fg:#8aadf4 bg:#494d64)]($style)'

[kubernetes]
disabled = false
detect_files = ['k8s']

[[kubernetes.contexts]]
context_pattern = "production"
user_pattern = "admin_user"
style = "bold #ed8796"
context_alias = "prod"
user_alias = "admin"

[[kubernetes.contexts]]
context_pattern = ".*fortress.*"
style = "bold #a6da95"
symbol = "💔"
context_alias = "talos"

[memory_usage]
symbol = " "
style = "bold #f5a97f"

[nodejs]
symbol = ""
style = "bg:#494d64"
format = '[[ $symbol ($version) ](fg:#8aadf4 bg:#494d64)]($style)'

# This is the default symbols table.
[os.symbols]
AIX = "➿ "
Alpaquita = "🔔 "
AlmaLinux = "💠 "
Alpine = "🏔️ "
Amazon = "🙂 "
Android = "🤖 "
Arch = "🎗️ "
Artix = "🎗️ "
Bluefin = "🐟 "
CachyOS = "🎗️ "
CentOS = "💠 "
Debian = "🌀 "
DragonFly = "🐉 "
Emscripten = "🔗 "
EndeavourOS = "🚀 "
Fedora = "🎩 "
FreeBSD = "😈 "
Garuda = "🦅 "
Gentoo = "🗜️ "
HardenedBSD = "🛡️ "
Illumos = "🐦 "
Kali = "🐉 "
Linux = "🐧 "
Mabox = "📦 "
Macos = "🍎 "
Manjaro = "🥭 "
Mariner = "🌊 "
MidnightBSD = "🌘 "
Mint = "🌿 "
NetBSD = "🚩 "
NixOS = "❄️ "
Nobara = "🎩 "
OpenBSD = "🐡 "
OpenCloudOS = "☁️ "
openEuler = "🦉 "
openSUSE = "🦎 "
OracleLinux = "🦴 "
Pop = "🍭 "
Raspbian = "🍓 "
Redhat = "🎩 "
RedHatEnterprise = "🎩 "
RockyLinux = "💠 "
Redox = "🧪 "
Solus = "⛵ "
SUSE = "🦎 "
Ubuntu = "🎯 "
Ultramarine = "🔷 "
Unknown = "❓ "
Uos = "🐲 "
Void = "  "
Windows = "🪟 "

[php]
symbol = ""
style = "bg:#494d64"
format = '[[ $symbol ($version) ](fg:#8aadf4 bg:#494d64)]($style)'

[python]
symbol = '🐍'
format = 'via [$symbol python ($version)(\($virtualenv\)) ]($style)'
style = "bold #f5a97f"
pyenv_prefix = "venv "
python_binary = ["./venv/bin/python", "python", "python3", "python2"]
detect_extensions = ["py"]
version_format = "v${raw}"

[rust]
symbol = ""
style = "bg:#494d64"
format = 'via [⚙️ $version](bold #ed8796)'

[shell]
fish_indicator = '󰈺'
powershell_indicator = ''
unknown_indicator = '❓'
style = 'bold #8aadf4'
disabled = false

[status]
style = 'bg:#8aadf4'
symbol = '🔴'
success_symbol = '🟢 SUCCESS'
format = '[\[$symbol$common_meaning$signal_name$maybe_int\]]($style) '
map_symbol = true
disabled = false

[sudo]
style = 'bold #a6da95'
symbol = '👑 '
disabled = false

[terraform]
format = '[🏎️💨 $version$workspace]($style) '
style = 'bold #f5a97f'

[vagrant]
format = 'via [⍱ $version](bold #cad3f5) '
